.container-fluid {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.main1 .col:first-child img {
    margin-top: 85px;
    margin-bottom: 64px;
    margin-left: 100px;
}

.main1 .col:nth-child(2n) {
    background-color: #539920;
    min-height: 100vh;
}

.main1:nth-child(4n) .col:nth-child(2n) {
    background-color: white;
    min-height: 100vh;
}

.main1 .col:nth-child(2n) .wrapper {
    /* margin-left: 140px; */
    margin-left: 12%;
    margin-top: 135px;
}

.main1 .col:nth-child(2n) .wrapper img {
    margin-bottom: 50px;
    border-radius: 20px;
}

.main1 .col:nth-child(2n) .wrapper td:first-child {
    text-align: right;
}

.main1 .col:nth-child(2n) .wrapper td:nth-child(2n) {
    padding-left: 15px;
    color: white;
    font-size: 20px;
    vertical-align: text-top;
    padding-top: 35px;
}

.main1 h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* margin-top: 165px; */
    margin-left: 0px;
    /* padding-left: 215px; */
    padding-left: 12%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-radius: 0px 15px 15px 0px;
    display: inline-block;
    text-align: center;
    background-color: #539920;
}

.main1:nth-child(4n) .col:nth-child(2n) h2 {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    /* padding-right: 183px; */
    padding-right: 12%;
    /* border-radius: 15px 0px 0px 15px; */
    border-radius: 15px;
}

.main1 p {
    /* font-size: 23px; */
    font-size: 1.5rem;
    /* margin-top: 5px; */
    /* margin-left: 70px; */
    padding-left: 20px;
    /* margin-right: 120px; */
    border-left: 7px solid #539920;
    line-height: normal;
}

.card {
    /* width: 100%; */
}

.main1:nth-child(4n) .col:nth-child(2n) p {
    margin: 0px;
    border: 0px;
}

.main1:nth-child(4n) h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #539920;
}

h2.services {
    color: #539920;
    margin-top: 0px;
    /* padding-right: 294px; */
    padding-right: 12%;
    padding-left: 15px;
    padding-top: 5px;
    /* border-radius: 15px 0px 0px 15px; */
    border-radius: 15px;
    margin-bottom: 50px;
    background-color: white;
}

.container-fluid:nth-child(2n) {
    background: url('../img/carpeta1/bg.jpg');
}

.container-fluid:nth-child(2n) .main1 {
    /* width: 50%; */
    /* margin: auto; */
    margin-left: 12%;
}

.container-fluid:nth-child(2n) .main1 h2 {
    /* padding-left: 200px; */
    padding-left: 12%;
    /* padding-right: 200px; */
    padding-right: 12%;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

.container-fluid:nth-child(2n) .main1 span {
    /* font-size: 30px; */
    font-size: 1rem;
    font-weight: 500;
}

.container-fluid:nth-child(2n) .main1 a {
    text-decoration: none;
    color: #115921;
}

.container-fluid:nth-child(2n) i {
    /* font-size: 60px; */
    font-size: 1.5rem;
    color: #539920;
    margin-right: 20px;
    margin-top: 20px;
}

.second {
    border-radius: 200px 0px 0px 0px;
}

.last {
    border-radius: 0px 0px 0px 200px;
}

.bold {
    font-weight: 500;
}

.card {
    border: 0px;
}

.go-up {
    display:none;
	/* padding:20px; */
	/* background:#024959; */
	font-size:30px;
	/* color:#fff; */
	color:#024959;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}